/* Cover Layout */

.cover-layout {
	a.book {
		float: left;
		width: auto;
		margin: 0 10px 10px 0;
		@include border-radius(5px);
		@include box-shadow(1px 1px 1px #cccccc);
		text-align: left;
		position: relative;

		.cover {
			float: left;
		}

		.info {
			float: left;
			width: 118px;
			margin-left: 10px;

			.price {
				position: absolute;
				bottom: 0;
				right: 10px;
			}
		}
	}
}