// COLOR PALETTE
$primary: #033063;
$secondary: #142E4A;
$neutral: #011F40;
$highlight: #537FB1;
$ultralight: #8ec5f1;
$light: #F7F5F5;

// FONT STACKS
$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$georgia: Georgia, Times, serif;